
        /* Custom CSS for styling */
        .footer {
            background-color: #000;
            color: #fff;
            padding: 20px 0;
            margin-top: 190px;
        }
       
        
       
 
    .rounded-square {
        border-radius: 15px;
        overflow: hidden;
        border: 2px solid #000; 
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
    .rounded-square img {
        max-width: 100%; 
        max-height: 100%; 
    }

       